<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css"> <!-- Corrected path -->
   <title>Edit Author</title>
</head>
<body>
    <h1>Edit Author</h1>
    <%- include('partial/nav') %>
    <% if (message) { %>
        <p style="color: green;"><%= message %></p>
    <% } %>
    <form action="/editAuthor" method="POST">
        <input type="hidden" name="authorId" value="<%= author.authorId %>">

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="<%= author.firstName %>" required>
        <br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="<%= author.lastName %>" required>
        <br>

        <label for="birth_date">Birth Date:</label>
        <input type="date" id="birth_date" name="birth_date" 
               value="<%= author.dob ? author.dob.toISOString().slice(0, 10) : '' %>" required>
        <br>

        <label for="death_date">Death Date:</label>
        <input type="date" id="death_date" name="death_date" value="<%= author.dod ? author.dod.toISOString().slice(0, 10) : '' %>">

        <aside>
            <input type="radio" id="male" name="sex" value="M" <%= author.sex === 'M' ? 'checked' : '' %>>
            <label for="male">Male</label>
            <input type="radio" id="female" name="sex" value="F" <%= author.sex === 'F' ? 'checked' : '' %>>
            <label for="female">Female</label>
        </aside>
        <label for="pro">Profession:</label>
        <input type="text" id="pro" name="pro" value="<%= author.profession %>" required>
        <br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="<%= author.country %>" required>
        <br>

        <label for="pic">Picture URL:</label>
        <textarea id="pic" name="pic"><%= author.portrait %></textarea>
        <br>

        <label for="bio">Biography:</label>
        <textarea id="bio" name="bio"><%= author.biography %></textarea>
        <br>

        <button type="submit" class="btn btn-success">Update</button>
    
    </form>
    <script src="/js/author.js"></script>
</body>
</html>