<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Location</h1>
    <%- include('parts/nav.ejs') %>
    <img id="banner2" src="/img/location.webp" alt="">
    
<h3><%= loc1.name %></h3>
<section>
    Type: <%= loc1.type %> <br>
    Dimension: <%= loc1.dimension %> <br>
    Residential: <%= loc1.residents.length %> <br>
        
    When it was created: <%= loc1.created %> <br>
</section>
    
    <br>
    <br>

    <h3>    <%= loc2.name %></h3>
    <section>
        Type: <%= loc2.type %> <br>
        Dimension: <%= loc2.dimension %> <br>
        Residential: <%= loc2.residents.length %> <br>
        When it was created: <%= loc2.created %> <br>
    </section>
    <br>
    <br>
    <h3><%= loc3.name %></h3>
    <section>
        Type: <%= loc3.type %> <br>
        Dimension: <%= loc3.dimension %> <br>
        Residential: <%= loc3.residents.length %> <br>
        When it was created: <%= loc3.created %> <br>
    </section>
    <br>
    <br>
    <h3><%= loc4.name %></h3>
    <section>
        Type: <%= loc4.type %> <br>
        Dimension: <%= loc4.dimension %> <br>
        Residential: <%= loc4.residents.length %> <br>
        When it was created: <%= loc4.created %> <br>
    </section>
    <br><br>
    <h3><%= loc5.name %></h3>
    <section>
        Type: <%= loc5.type %> <br>
        Dimension: <%= loc5.dimension %> <br>
        Residential: <%= loc5.residents.length %> <br>
        When it was created: <%= loc5.created %> <br>
    </section>
    <br>
    <br>
    <h1>Which option do you want? </h1>
    <form action="getLocation">
        <input type="radio" name="location" id="location" value="1"> get 5 random location<br>
        <input type="radio" name="location" id="location" value="2"> get give the first 5 location <br>
        <input type="radio" name="location" id="location" value="3"> get 5 order location <br>
        <button id="subtim">Submit</button>

        <p>option 1: get 5 random locations</p>
        <br>
        <p>option 2: get the main 5 locations</p>
        <br>
        <p>option 3: get the 5 chronologically locations</p>
</body>
</html>