<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body id = "planetInfoPage">
    <h1>
        <%= planet %>
    </h1>
    <%- include('partial/navbar.ejs') %>
        <img src="<%= planetInfo.image %>" alt="">
        <h3>Description:</h3>

        <p>
            <%= planetInfo.description%>
        </p>
        <h3>Radius:</h3>
        <p>
             <%= planetInfo.radius%>
        </p>
            <h3>Distance from the sun:</h3>
        <p>
            <%= planetInfo.distanceFromSun%>
        </p>
        <h3>Length of a year:</h3>
        <p>
            <%= planetInfo.yearLength%>
        </p>
        <h3>One earth day:</h3>
        <p>
             <%= planetInfo.oneEarthDay%>
        </p>
        <h3>How many moons:</h3>
        <p>
             <%= planetInfo.moons%>
        </p>
        <%- include('partial/footer.ejs') %>
</body>

</html>